@model List<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Our posts</h2>
@foreach (var post in Model)
{
    <br />
    <hr style="border: 0; height: 2px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7" style="background-color: #CFD8DC; min-height: 200px">
                <br />
                <h4 class="text-center" style="font-family: 'Century Gothic'">@Html.ActionLink(post.Title, "PostID", "Post", new { id = post.Id })</h4>
                <br />
                <pre>@post.Body ...</pre>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <br />
                <div class="row">
                    <div class="col-md-2" style="min-height: 35px; border: 1px solid silver">@Html.ActionLink("Read more", "PostID", "Post", new { id = post.Id })</div>
                    <div class="col-md-5"></div>
                    <div class="col-md-2" style="min-height: 35px; font-size: 1.6em"><img src="~/images/comment.png" />@post.Comments.Count</div>
                    <div class="col-md-2" style="min-height: 35px"><p class="text-center" style="font-size: 1.8em"><img src="~/images/like.png" /><small> @post.Likes</small></p></div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
}